# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
db.sqlite3

# Media & Static
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
